/* MY EDITS: 1. Deleted CSS for Header/Navbar styling (because Bootstrap now provides this) 2. Deleted CSS for Work section 3. Set size of images (icons) in Skills section 4.Deleted CSS for About and Contact sections 5. Changed font-family in var() function. 6. Deleted global styling that’s no longer needed 7. Added custom styling to body, and p, h1-6, links and unordered lists/list items throughout the page (did this by targeting id on body, so overrides Bootstrap’s styling). 8. Added credit for this idea in comments. 9. Added important property to font-family (so completely overrides Bootstrap's styling) 10. Added styling to Footer, including hover effect to links/images (icons) 11. Added credit for box-shadow colour in comments 12. Commented out existing media queries (so can inspect page’s responsiveness without/Bootstrap only) 13. Added padding to all h1-6 (so sticky navbar not covering content).


*/

/* **Whole page (global)** */

/*var() function for colours and font family (for use across page where variable added)*/
:root {
  --dark: black;
  --light: white;
  --font-family: arial, helvetica, sans-serif; 
}

/*Styles body of page (sets line height and background colour as per var function).*/ /*Targeted id that's applied to body to override Bootstrap's styling*//*CREDIT: thanks to smugglerFlynn for this idea, via Stack Overflow (2013) How can I override Bootstrap CSS styles? (https://stackoverflow.com/questions/20721248/how-can-i-override-bootstrap-css-styles)*/
#bootstrap-override body {
  line-height: 1.5;
  background-color: var(--light);
}

/*Styles paragraphs, h1-h6, links, unordered lists and list items throughout page (as per variable function) and styles unordered lists throughout page (removes bullet points)*//*Important property needed on font-family to completely override Bootstrap's styling*/
#bootstrap-override p,h1,h2,h3,h4,h5,h6,a,ul,li {
  color: var(--dark);
  font-family: var(--font-family) !important;
  list-style-type: none;
}

/*Adds top padding to h1-h6 (so sticky Navbar doesn't cover content when navigating via links)*/
#bootstrap-override h1,h2,h3,h4,h5,h6 {
  padding-top: 55px;
}

/* **Header/Nav Bar - EMPTY** */

/* **Built Projects Section - EMPTY** */

/* **Skills Section** */

/*Sets size of images (icons) in Skills*/
.skills-img {
  width: 32px;
  height: 32px;
}

/* **About/Contact Section - EMPTY** */

/* **Footer** */

/*Sets paragraph colour in Footer*/
#bootstrap-override .footer p {
  color: var(--light);
}

/*Sizes Footer icons and applies total invert of colours*/
#bootstrap-override .footer img {
  filter: invert(100%);
  width: 45px;
  height: 45px;
}

/*Sets partial invert and box shadow to Footer icons (links) when hover over them*//*CREDIT: box-shadow colour combination cited from W3Schools (no date) CSS Box Shadow (https://www.w3schools.com/css/css3_shadows_box.asp)*/
#bootstrap-override .footer img:hover {
  filter: invert(40%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* **Media Queries** */

/* *Medium (up to 1007px)* */

/*No seperate media queries for Small (640px to 375px), as all elements displayed at Medium are still displayed at Small. Therefore below media queries actually apply for 376px to 1007px*/

 /*@media screen and (max-width: 1007px) {
  /*Reduces font size in Header/Nav Bar*/
   /*header h1, nav a {
    font-size: 150%;
  }

  /*Reduces font size of main headers in About, Work and Contact; removes their margin*/
   /*.about-header, #work-header, .contact-header {
    font-size: 100%;
    margin-right: 0px;
  }

  /*No longer displays image (avatar) in About*/
   /*.about-image {
    display: none;
  }

  /*Repositions text (takes up two coloums now) and resizes text in About*/
   /*.about-text {
    grid-column: 2 / span 3;
    font-size: 100%;
  }

  /*Reduces font size of links in Contact*/
   /*#contact a {
    font-size: 100%;
  }
}

/* *Mobile (smaller than 376px)* */

 /*@media screen and (max-width: 375px) {
  /*No longer displays Header/Nav Bar and main headers in About, Work and Contact*/
  /* header,.about-header, #work-header, .contact-header  {
    display: none;
  }

  /*Repositions text in About (takes up three coloums now)*/
   /* .about-text {
    grid-column: 1 / span 3;
  }

  /*Repositions Contact links (in unordered list) (take up two coloums now)*/
  /* #contact ul {
    grid-column: 1 / span 2;
  }
}
*/